{
    "extends": "standard",
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "rules": {
        "indent": [
            "error",
            4
        ]
    }
}
